@model webtuyensinh.ViewModels.MenuViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "QL menus";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="mb-3">
                        <h6>Nhóm</h6>
                        <a asp-action="MenuGroupCreate" class="text-sm font-weight-bolder opacity-7"><i class="fas fa-plus-square"></i> Thêm nhóm</a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày tạo</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var @item in Model.MenuGroups)
                                    {
                                        <tr>
                                            <td>
                                                <h6 class="mb-0 text-center text-sm">@i</h6>
                                            </td>
                                            <td>
                                                <div class="px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">@item.Name</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">@item.CreatedAt</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <form asp-action="MenuGroupDelete" method="post">
                                                    <a asp-action="MenuGroupEdit" asp-route-id="@item.Id" class="text-secondary font-weight-bold text-xs">
                                                        Sửa
                                                    </a>
                                                    <span> | </span>
                                                    <input type="submit" value="Xóa" class="border-0 bg-transparent text-secondary font-weight-bold text-xs p-0 m-0" />
                                                    <input hidden type="hidden" name="mg_id" value="@item.Id" />
                                                </form>
                                            </td>
                                        </tr>
                                        {
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="mb-3">
                        <h6>Menus</h6>
                        <a asp-action="MenuCreate" class="text-sm font-weight-bolder opacity-7"><i class="fas fa-plus-square"></i> Thêm menu</a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nhóm</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày tạo</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int j = 1;
                                    foreach (var @item in Model.Menus)
                                    {
                                        <tr>
                                            <td>
                                                <h6 class="mb-0 text-center text-sm">@j</h6>
                                            </td>
                                            <td>
                                                <div class="px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">@item.Name</h6>
                                                        <p class="text-xs text-secondary mb-0">@(item.URL == null ? item.Controller + " - " + item.Action : item.URL)</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <h6 class="mb-0 text-sm">@item.Group.Name</h6>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">@(item.UpdatedAt ?? item.CreatedAt ?? null)</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <form asp-action="MenuDelete" method="post">
                                                    <a asp-action="MenuEdit" asp-route-id="@item.Id" class="text-secondary font-weight-bold text-xs">
                                                        Sửa
                                                    </a>
                                                    <span> | </span>
                                                    <input type="submit" value="Xóa" class="border-0 bg-transparent text-secondary font-weight-bold text-xs p-0 m-0" />
                                                    <input hidden type="hidden" name="m_id" value="@item.Id" />
                                                </form>
                                            </td>
                                        </tr>
                                        {
                                            j++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        var summernote = new webtuyensinh.Models.Sommnernote("#Post_Content");
    }
    <partial name="_Summernote" model="summernote" />
}
