@model webtuyensinh.ViewModels.PostViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "PostEdit";
}

<div class="container">
    <div class="row">
        <h1>PostEdit</h1>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("PostUpdate", "Admin", FormMethod.Post, new { @class = "px-3 pt-5 pb-4" }))
            {
                @Html.HiddenFor(model => model.Post.Id)

                <div class="mb-3 w-100">
                    <select class="form-control" asp-for="Post.Category.Name">
                        @foreach(var cate in Model.Categories)
                        {
                            @if (cate.Id == Model.Post.CategoryId)
                            {
                                <option value="@cate.Id" selected>@cate.Name</option>
                            } else
                            {
                                <option value="@cate.Id">@cate.Name</option>
                            }
                        }
                    }
                    </select>
                    @Html.ValidationMessageFor(model => model.Post.Category.Name)
                </div>

                <div class="mb-3 w-100">
                    @Html.TextBoxFor(model => model.Post.Title, new { @class = "form-control", placeholder = "Tiêu đề*" })
                    @Html.ValidationMessageFor(model => model.Post.Title)
                </div>

                <div class="mb-3 w-100">
                    @Html.TextBoxFor(model => model.Post.Description, new { @class = "form-control", placeholder = "Chuyên ngành hay đất nước bạn muốn đến?" })
                    @Html.ValidationMessageFor(model => model.Post.Description)
                </div>

                <div class="mb-3 w-100">
                    @Html.TextBoxFor(model => model.Post.Content, new { @class = "form-control", placeholder = "Số điện thoại*" })
                    @Html.ValidationMessageFor(model => model.Post.Content)
                </div>

                <button type="submit" class="btn btn-submit btn-primary">XÁC NHẬN</button>
            }
        </div>
    </div>
    <div class="row">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        var summernote = new webtuyensinh.Models.Sommnernote("#Post_Content");
    }

    <partial name="_Summernote" model="summernote" />
}