@model webtuyensinh.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <h1>Create</h1>
    <h4>PostModel</h4>
    <div class="row">
        <div class="col-md-4">
            @using (@Html.BeginForm("Create", "Post", FormMethod.Post, new { @class = "py-5", enctype = "multipart/form-data" }))
            {
                <div class="mb-3">
                    <select asp-for="Post.CategoryId" class="form-select">
                        <option selected>--Chọn danh mục--</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>

                    @Html.ValidationMessageFor(model => model.Post.CategoryId)
                </div>
                <div class="mb-3">
                    @Html.TextBoxFor(model => model.Post.Title, new { @class = "form-control", placeholder = "Tiêu đề" })
                    @Html.ValidationMessageFor(model => model.Post.Title)
                </div>

                <div class="mb-3">
                    @Html.TextBoxFor(model => model.Post.Description, new { @class = "form-control", placeholder = "Mô tả" })
                    @Html.ValidationMessageFor(model => model.Post.Description)
                </div>

                <div class="mb-3">
                    @Html.TextAreaFor(model => model.Post.Content, new { @class = "form-control", placeholder = "Nội dung" })
                    @Html.ValidationMessageFor(model => model.Post.Content)
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    @{
        var summernote = new webtuyensinh.Models.Sommnernote("#Post_Content");
    }
    <partial name="_Summernote" model="summernote" />
}
