@model webtuyensinh.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="~/assets/css/pages/post.min.css" rel="stylesheet" />
}

<div class="post-details container py-5">
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <div class="post-details__main px-3 py-3">
                <h3 class="mb-3 post-details__title">
                    @Html.DisplayFor(model => model.Post.Title)
                </h3>
                <p class="mb-3 post-details__des">@Html.DisplayFor(model => model.Post.Description)</p>
                @if (Model.Post.CreatedAt != null)
                {
                    <p class="blog-post-meta"><i class="fas fa-calendar-alt me-2"></i> @Model.Post.CreatedAt.Value.ToString("dd / MM / yyyy")</p>
                }
                @if (Model.Post.UpdatedAt != null)
                {
                    <p class="blog-post-meta"><i class="fas fa-calendar-alt me-2"></i> @Model.Post.UpdatedAt.Value.ToString("dd / MM / yyyy")</p>
                }
                <article class="blog-post border-top">
                    <p>@Html.Raw(Model.Post.Content)</p>
                </article>
            </div>
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="position-sticky post-details__bar" style="top: 2rem;">
                <div class="p-3 mb-3 post-details__info">
                    <h3 class="post-details__cate mb-3">@Html.DisplayFor(model => model.Post.Category.Name)</h3>

                    <h5 class="mb-3 post-details__tt">Từ khóa:</h5>
                    <div class="post-details__tags mb-3 d-flex flex-wrap">
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="/tags/@tag.Name" class="post-details__tags-item">@tag.Name</a>
                        }
                    </div>
                    <h5 class="mb-3 post-details__tt">Bài viết liên quan:</h5>
                    <ul class="m-0 ps-3">
                        @foreach (var r_post in Model.Posts)
                        {
                            <li><a href="/Post/Details/@r_post.Id" class="text-dark text-decoration-none">@r_post.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".p-main").addClass("dark")
        })
    </script>
}