@model webtuyensinh.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="~/assets/css/pages/post.min.css" rel="stylesheet" />
}


<div class="post-details container py-3">
    <div class="row mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="#"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="#">@Html.DisplayFor(model => model.Post.Category.Name)</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Post.Title)</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 order-2 order-md-1">
            <div class="post-details__main px-3 py-3">
                <h3 class="mb-3 post-details__title">
                    @Html.DisplayFor(model => model.Post.Title)
                </h3>
                <p class="mb-3 post-details__des">@Html.DisplayFor(model => model.Post.Description)</p>
                @if (Model.Post.CreatedAt != null)
                {
                    <p class="blog-post-meta"><i class="fas fa-calendar-alt me-2"></i> @Model.Post.CreatedAt.Value.ToString("dd / MM / yyyy")</p>
                }
                @if (Model.Post.UpdatedAt != null)
                {
                    <p class="blog-post-meta"><i class="fas fa-calendar-alt me-2"></i> @Model.Post.UpdatedAt.Value.ToString("dd / MM / yyyy")</p>
                }
                <article class="blog-post p-2">
                    <p>@Html.Raw(Model.Post.Content)</p>
                </article>
            </div>
        </div>
        <div class="col-md-4 order-1 order-md-2">
            <div class="position-sticky post-details__bar" style="top: 2rem;">
                <div class="p-3 mb-3 post-details__info">
                    <h4 class="post-details__cate m-0 py-2 px-3">Danh mục</h4>
                    <ul class="menu-categories">
                        @if (Model.MenuCategories != null)
                        {
                            foreach (var mc in Model.MenuCategories)
                            {
                                <li class="menu-categories-item">
                                    <a href="@mc.URL" class="py-2">@mc.Name</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="post-details__tags mb-3 d-flex flex-wrap">
                        @*@foreach (var tag in Model.Tags)
                        {
                            <a href="/tags/@tag.Name" class="post-details__tags-item">@tag.Name</a>
                        }*@
                    </div>
                    <h4 class="post-details__cate mb-3 py-2 px-3">Bài viết liên quan</h4>
                    <ul class="r_post m-0 p-0">
                        @foreach (var r_post in Model.Posts)
                        {
                            <li class="r_post-item d-flex align-items-center mb-3">
                                <img class="flex-shrink-0" src="@Url.Content("~/contents/" + r_post.Avartar)" />
                                <div class="r_post-content flex-grow-1">
                                    <p><i class="fas fa-calendar-alt me-2"></i>@(r_post.CreatedAt != null ? r_post.CreatedAt.Value.ToString("dd / MM / yyyy") : r_post.UpdatedAt.Value.ToString("dd / MM / yyyy"))</p>
                                    <a href="/Post/Details/@r_post.Id" class="text-dark text-decoration-none">@r_post.Title</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @class = "admission-form p-3" }))
                {
                    <h3 class="f1 py-2 px-3 mb-3">ĐĂNG KÝ THÔNG TIN</h3>
                    <div class="mb-3 w-100">
                        @Html.TextBoxFor(model => model.AdmissionForm.Name, new { @class = "form-control", placeholder = "Họ và tên*" })
                        @Html.ValidationMessageFor(model => model.AdmissionForm.Name)
                    </div>

                    <div class="mb-3 w-100">
                        @Html.TextBoxFor(model => model.AdmissionForm.Address, new { @class = "form-control", placeholder = "Địa chỉ*" })
                        @Html.ValidationMessageFor(model => model.AdmissionForm.Address)
                    </div>

                    <div class="mb-3 w-100">
                        @Html.TextBoxFor(model => model.AdmissionForm.PhoneNumber, new { @class = "form-control", placeholder = "Số điện thoại*" })
                        @Html.ValidationMessageFor(model => model.AdmissionForm.PhoneNumber)
                    </div>

                    <div class="mb-3 w-100">
                        <select class="form-control" asp-for="AdmissionForm.EducationLevel" asp-items="Html.GetEnumSelectList<LevelOptions>()">
                            <option selected>Bậc học và đất nước quan tâm</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.AdmissionForm.EducationLevel)
                    </div>

                    <div class="mb-3 w-100">
                        <select class="form-control" asp-for="AdmissionForm.TypeOfTraining" asp-items="Html.GetEnumSelectList<TypeOptions>()">
                            <option selected>Hình thức học</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.AdmissionForm.TypeOfTraining)
                    </div>

                    <div class="mb-3 w-100">
                        @Html.TextAreaFor(model => model.AdmissionForm.Desire, new { @class = "form-control", placeholder = "Chuyên ngành hay đất nước bạn muốn đến?" })
                        @Html.ValidationMessageFor(model => model.AdmissionForm.Desire)
                    </div>

                    <button type="submit" class="btn btn-submit btn-primary mx-auto">XÁC NHẬN</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".p-main").addClass("dark")
        })
    </script>
}