@model webtuyensinh.Models.AdmissionModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles
{
    <link href="~/css/pages/home.css" rel="stylesheet" />
}
<div class="home-introduce">
    <div class="container pt-5 pb-3 d-flex justify-content-between h-100">
        <div class="home-introduce__content">
            <div class="home-introduce__title">
                <h1 class="t1">Tuyển Sinh</h1>
                <h2 class="t2">du học</h2>
            </div>
            <p class="home-introduce__article">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation nisi ut aliquip ex ea
            </p>
            <a href="#" class="home-introduce__btn-signin">Đăng ký ngay</a>
        </div>
        @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @class = "home-introduce__form px-3 pt-5 pb-4" }))
        {
            <button class="home-introduce__btn-close"><i class="fas fa-times"></i></button>
            <h3 class="f1">ĐĂNG KÝ THÔNG TIN</h3>
            <div class="mb-3 w-100">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Họ và tên*" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="mb-3 w-100">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Địa chỉ*" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <div class="mb-3 w-100">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Số điện thoại*" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>

            <div class="mb-3 w-100">
                <select class="form-control" asp-for="EducationLevel" asp-items="Html.GetEnumSelectList<LevelOptions>()">
                    <option selected>Bậc học và đất nước quan tâm</option>
                </select>
                @Html.ValidationMessageFor(model => model.EducationLevel)
            </div>

            <div class="mb-3 w-100">
                <select class="form-control" asp-for="TypeOfTraining" asp-items="Html.GetEnumSelectList<TypeOptions>()">
                    <option selected>Hình thức học</option>
                </select>
                @Html.ValidationMessageFor(model => model.TypeOfTraining)
            </div>

            <div class="mb-3 w-100">
                @Html.TextBoxFor(model => model.Desire, new { @class = "form-control", placeholder = "Chuyên ngành hay đất nước bạn muốn đến?" })
                @Html.ValidationMessageFor(model => model.Desire)
            </div>

            <button type="submit" class="btn btn-submit btn-primary">XÁC NHẬN</button>
        }
    </div>
</div>

<div class="home-reason py-5">
    <div class="container">
        <h1 class="home-reason__title mb-4">Tại sao chọn dịch vụ của chúng tôi?</h1>
        <div class="home-reason__wrapper">
            <div class="home-reason__item">
                <div class="home-reason__icon mb-3" style="--hri-color: #E05194;">
                    <i class="fal fa-alarm-clock"></i>
                </div>
                <p class="home-reason__name">Thời gian linh hoạt</p>
            </div>
            <div class="home-reason__item">
                <div class="home-reason__icon mb-3" style="--hri-color: #AC85FF;">
                    <i class="far fa-search"></i>
                </div>
                <p class="home-reason__name">Tìm kiếm địa điểm lý tưởng</p>
            </div>
            <div class="home-reason__item">
                <div class="home-reason__icon mb-3" style="--hri-color: #AFB83B;">
                    <i class="fal fa-clipboard-list-check"></i>
                </div>
                <p class="home-reason__name">Dễ dàng đăng ký</p>
            </div>
            <div class="home-reason__item">
                <div class="home-reason__icon mb-3" style="--hri-color: #14AAF5;">
                    <i class="fal fa-lightbulb-on"></i>
                </div>
                <p class="home-reason__name">Gợi ý vị trí tuyển dụng</p>
            </div>
            <div class="home-reason__item">
                <div class="home-reason__icon mb-3" style="--hri-color: #FE753E;">
                    <i class="fal fa-file-alt"></i>
                </div>
                <p class="home-reason__name">Cung cấp tài liệu</p>
            </div>
            <div class="home-reason__item">
                <div class="home-reason__icon mb-3" style="--hri-color: #E05194;">
                    <i class="fal fa-file-check"></i>
                </div>
                <p class="home-reason__name">Thủ tục nhanh chóng</p>
            </div>
        </div>
    </div>
</div>


<div class="home-news mb-5">
    <div class="container">
        <nav class="home-news__header row">
            <div class="col-8 d-flex align-items-center">
                <h3 class="home-news__topic">Tin tức &#8226;</h3>
                <span class="home-news__hline"></span>
            </div>
            <div class="nav nav-tabs col-4" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    Tuyển sinh
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    Du học
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Xuất khẩu lao động
                </button>
            </div>
        </nav>
        <div class="home-news__wrapper row">
            <div class="home-news__main col-8">
                <div class="row">
                    <div class="col-6">
                        <div class="home-news__article main">
                            <div class="home-news__img">
                                <img src="~/img/homenews-main1.png" />
                            </div>
                            <span class="home-news__category">Danh mục tin tức</span>
                            <h4 class="home-news__title">Những sai lầm khi nấu ăn, gây hại cho sức khỏe nhiều người mắc phải</h4>
                            <p class="home-news__summary">
                                Khi chế biến món ăn có những thói quen nhỏ tưởng chừng vô hại nhưng lại là sai lầm lớn ảnh hưởng đến sức khỏe cả gia đình. Cùng điểm qua một số sai lầm
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="home-news__article main">
                            <div class="home-news__img">
                                <img src="~/img/homenews-main2.png" />
                            </div>
                            <span class="home-news__category">Danh mục tin tức</span>
                            <h4 class="home-news__title">Những sai lầm khi nấu ăn, gây hại cho sức khỏe nhiều người mắc phải</h4>
                            <p class="home-news__summary">
                                Khi chế biến món ăn có những thói quen nhỏ tưởng chừng vô hại nhưng lại là sai lầm lớn ảnh hưởng đến sức khỏe cả gia đình. Cùng điểm qua một số sai lầm
                            </p>
                        </div>
                    </div>
                </div>
            </div
            <div class="home-news__extra">
                <div class="tab-content col-4" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        <div class="d-flex flex-column">
                            <div class="home-news__article extra">
                                <div class="home-news__img me-3">
                                    <img src="~/img/homenews-extra1.png" />
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="home-news__category">Danh mục tin tức</span>
                                    <h4 class="home-news__title">Những sai lầm khi nấu ăn, gây hại cho sức khỏe nhiều người mắc phải</h4>
                                </div>
                            </div>
                            <div class="home-news__article extra">
                                <div class="home-news__img me-3">
                                    <img src="~/img/homenews-extra2.png" />
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="home-news__category">Danh mục tin tức</span>
                                    <h4 class="home-news__title">Những sai lầm khi nấu ăn, gây hại cho sức khỏe nhiều người mắc phải</h4>
                                </div>
                            </div>
                            <div class="home-news__article extra">
                                <div class="home-news__img me-3">
                                    <img src="~/img/homenews-extra3.png" />
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="home-news__category">Danh mục tin tức</span>
                                    <h4 class="home-news__title">Những sai lầm khi nấu ăn, gây hại cho sức khỏe nhiều người mắc phải</h4>
                                </div>
                            </div>
                        </div>
                        <a href="#" >Xem tất cả &raquo;</a>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        Nd2...
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                        Nd3...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="home-enrollment py-5">
    <div class="container">
        <h1 class="home-enrollment__topic">Tuyển sinh</h1>
        <p class="home-enrollment__slogan mb-5">Cao học, Đại học, Liên thông, Đào tạo từ xa, VHVL, Văn bằng 2, Cao đẳng, Trung cấp.</p>
        <div class="home-enrollment__carousel owl-carousel owl-theme">
            <div class="home-enrollment__item shadow">
                <div class="home-enrollment__img">
                    <img src="~/img/homeenrollment-slide1.png" />
                </div>
                <div class="p-4">
                    <div class="home-enrollment__overview">
                        <div class="home-enrollment__school">
                            <i class="far fa-map-marker-alt"></i>
                            <span>69 trường</span>
                        </div>
                        <div class="home-enrollment__stars">
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <h3 class="home-enrollment__title my-3">Tuyển sinh Cao học</h3>
                    <p class="home-enrollment__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>
                    <a href="#" class="home-enrollment__btn">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="home-enrollment__item">
                <div class="home-enrollment__img">
                    <img src="~/img/homeenrollment-slide2.png" />
                </div>
                <div class="p-4">
                    <div class="home-enrollment__overview">
                        <div class="home-enrollment__school">
                            <i class="far fa-map-marker-alt"></i>
                            <span>69 trường</span>
                        </div>
                        <div class="home-enrollment__stars">
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <h3 class="home-enrollment__title my-3">Tuyển sinh Cao học</h3>
                    <p class="home-enrollment__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>
                    <a href="#" class="home-enrollment__btn">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="home-enrollment__item shadow">
                <div class="home-enrollment__img">
                    <img src="~/img/homeenrollment-slide1.png" />
                </div>
                <div class="p-4">
                    <div class="home-enrollment__overview">
                        <div class="home-enrollment__school">
                            <i class="far fa-map-marker-alt"></i>
                            <span>69 trường</span>
                        </div>
                        <div class="home-enrollment__stars">
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <h3 class="home-enrollment__title my-3">Tuyển sinh Cao học</h3>
                    <p class="home-enrollment__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>
                    <a href="#" class="home-enrollment__btn">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="home-enrollment__item shadow">
                <div class="home-enrollment__img">
                    <img src="~/img/homeenrollment-slide2.png" />
                </div>
                <div class="p-4">
                    <div class="home-enrollment__overview">
                        <div class="home-enrollment__school">
                            <i class="far fa-map-marker-alt"></i>
                            <span>69 trường</span>
                        </div>
                        <div class="home-enrollment__stars">
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <h3 class="home-enrollment__title my-3">Tuyển sinh Cao học</h3>
                    <p class="home-enrollment__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>
                    <a href="#" class="home-enrollment__btn">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="home-enrollment__item shadow">
                <div class="home-enrollment__img">
                    <img src="~/img/homeenrollment-slide1.png" />
                </div>
                <div class="p-4">
                    <div class="home-enrollment__overview">
                        <div class="home-enrollment__school">
                            <i class="far fa-map-marker-alt"></i>
                            <span>69 trường</span>
                        </div>
                        <div class="home-enrollment__stars">
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star ac"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <h3 class="home-enrollment__title my-3">Tuyển sinh Cao học</h3>
                    <p class="home-enrollment__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </p>
                    <a href="#" class="home-enrollment__btn">
                        Xem thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="study-abroad pb-5">
    <div class="container mb-5">
        <h1 class="study-abroad__topic">Tuyển sinh du học</h1>
        <p class="study-abroad__slogan">Đức, Nhật,  Hàn Quốc, Úc, Áo, Ba Lan, Canada, Đài loan, Singapore, Hungary, Newzeland...</p>
    </div>    
    <div class="container">
        <div class="row mb-3">
            <div class="col-8">
                <div class="study-abroad__item">
                    <div class="study-abroad__img"></div>
                     <img src="~/img/japan.png" />
                    <h3 class="study-abroad__title">Đức</h3>
                    <p class="study-abroad__subtitle">Trung tâm kinh tế</p>
                    <span class="study-abroad__slg">4 danh sách</span>
                </div>
            </div>
            <div class="col-4">
                <div class="study-abroad__item">
                    <div class="study-abroad__img"></div>
                    <img src="~/img/korea.png" />
                    <h3 class="study-abroad__title">Hàn Quốc</h3>
                    <p class="study-abroad__subtitle">Trung tâm kinh tế</p>
                    <span class="study-abroad__slg">4 danh sách</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="study-abroad__item">
                    <div class="study-abroad__img"></div>
                    <img src="~/img/japan.png" />
                    <h3 class="study-abroad__title">Nhật</h3>
                    <p class="study-abroad__subtitle">Trung tâm kinh tế</p>
                    <span class="study-abroad__slg">4 danh sách</span>
                </div>
            </div>
            <div class="col-4">
                <div class="study-abroad__item">
                    <div class="study-abroad__img"></div>
                    <img src="~/img/australia.png" />
                    <h3 class="study-abroad__title">Úc</h3>
                    <p class="study-abroad__subtitle">Trung tâm kinh tế</p>
                    <span class="study-abroad__slg">4 danh sách</span>
                </div>
            </div>
            <div class="col-4">
                <div class="study-abroad__item">
                    <div class="study-abroad__img"></div>
                    <img src="~/img/canada.png" />
                    <h3 class="study-abroad__title">Canada</h3>
                    <p class="study-abroad__subtitle">Trung tâm kinh tế</p>
                    <span class="study-abroad__slg">4 danh sách</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="labor-export py-5 mb-5">
    <div class="container">
        <div class="labor-export__row row">
            <div class="labor-export__col content col-6">
                <h1 class="labor-export__topic">Xuất khẩu lao động</h1>
                <p class="labor-export__introduct pe-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a href="#" class="labor-export__linkall">Xem tất cả &raquo;</a>
            </div>
            <div class="labor-export__col col-3">
                <div class="study-abroad__bg blue"></div>
                <img src="~/img/german-labor.png" />
                <h4 class="labor-export__country-name">&rArr; LAO ĐỘNG ĐỨC</h4>
            </div>
            <div class="labor-export__col col-3">
                <div class="study-abroad__bg red"></div>
                <img src="~/img/korean-labor.png" />
                <h4 class="labor-export__country-name">&rArr; LAO ĐỘNG HÀN QUỐC</h4>
            </div>
        </div>
        <div class="labor-export__row row">
            <div class="labor-export__col col-3">
                <div class="study-abroad__bg blue"></div>
                <img src="~/img/japanese-labor.png" />
                <h4 class="labor-export__country-name">&rArr; LAO ĐỘNG nhật</h4>
            </div>
            <div class="labor-export__col col-3">
                <div class="study-abroad__bg red"></div>
                <img src="~/img/australian-labor.png" />
                <h4 class="labor-export__country-name">&rArr; LAO ĐỘNG úc</h4>
            </div>
            <div class="labor-export__col col-3">
                <div class="study-abroad__bg blue"></div>
                <img src="~/img/canadian-labor.png" />
                <h4 class="labor-export__country-name">&rArr; LAO ĐỘNG canada</h4>
            </div>
            <div class="labor-export__col col-3">
                <div class="study-abroad__bg red"></div>
                <img src="~/img/singapore-labor.png" />
                <h4 class="labor-export__country-name">&rArr; LAO ĐỘNG singapore</h4>
            </div>
        </div>
    </div>
</div>


<div class="home-evaluate py-5">
    <div class="container mb-5">
        <div class="home-evaluate__top">
            <img src="~/img/topic-stars.svg" class="mb-5" />
            <p class="mb-4">Cảm nhận của khách hàng</p>
        </div>
        <h1 class="home-evaluate__represent">Khách hàng nói về chúng tôi</h1>
    </div>
    <div class="container">
        <div class="home-evaluate__carousel owl-carousel owl-theme">
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
            <div class="home-evaluate__item p-3 shadow">
                <div class="home-evaluate__upper">
                    <div class="home-evaluate__avartar">
                        <img src="~/img/avartar-test77.svg" />
                    </div>
                    <div class="d-flex flex-column">
                        <div class="home-evaluate__stars">
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star on"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="home-evaluate__username">Adobe Creative Cloud</h4>
                    </div>
                </div>
                <p class="home-evaluate__body">
                    Lorem ipsum dolor sit amet, consecteturipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqenim ad minim veni nt ut labore et dolore magna aliqenim ad minim venint vnt ut labore et dolore
                </p>
            </div>
        </div>
    </div>
</div>

<div class="home-counterparty pb-5 mb-3">
    <div class="container">
        <h1 class="home-counterparty__topic">Đối tác khách hàng</h1>
        <p class="home-counterparty__slogan mb-5">3000 doanh nghiệp, tập đoàn đa quốc gia đã tin tưởng và đồng hành</p>
    </div>
    <div class="home-counterparty__wrapper owl-carousel owl-theme">
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo_nxb_kđ.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-bmw-3.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-chanel.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-grab.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-hang-xe-may-3.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-hinh.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-nasa.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-nike.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-samsung.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-starbucks-original.png" />
        </div>
        <div class="home-counterparty__logo">
            <img src="~/img/logo-counterparty/logo-samsung.png" />
        </div>
    </div>
</div>

<div class="home-ending py-5">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <form class="home-ending__form px-3 pt-5 pb-4">
                    <h3 class="f1">ĐĂNG KÝ THÔNG TIN</h3>
                    <p class="f2 mb-3">Để nhận chương trình khuyến mãi</p>
                    <div class="mb-3 w-100">
                        <input type="text" class="form-control" placeholder="Họ và tên*">
                    </div>
                    <div class="mb-3 w-100">
                        <input type="text" class="form-control" placeholder="Địa chỉ*">
                    </div>
                    <div class="mb-3 w-100">
                        <input type="text" class="form-control" placeholder="Số điện thoại*">
                    </div>
                    <div class="mb-3 w-100">
                        <label for="" class="form-label">Bậc học và đất nước quan tâm</label>
                        <select class="form-select">
                            <option selected value="1">Sau đại học</option>
                            <option value="2">Đại học</option>
                            <option value="3">Cao đẳng</option>
                            <option value="3">Trung cấp</option>
                            <option value="3">Sơ cấp nghề</option>
                            <option value="3">Tiếng Đức</option>
                            <option value="3">Tiếng Hàn</option>
                            <option value="3">Tiếng Nhật</option>
                            <option value="3">Tiếng Anh</option>
                            <option value="3">Du học nghề</option>
                            <option value="3">XKLĐ</option>
                            <option value="3">Chuyển đổi bằng</option>
                        </select>
                    </div>
                    <div class="mb-3 w-100">
                        <label for="" class="form-label">Hình thức học</label>
                        <select class="form-select">
                            <option selected value="1">Liên thông</option>
                            <option value="2">Văn bằng 2</option>
                            <option value="3">Chính quy</option>
                            <option value="3">Học từ xa</option>
                            <option value="3">Du học nghề kép</option>
                            <option value="3">Chuyển đổi bằng</option>
                            <option value="3">Lao động</option>
                        </select>
                    </div>
                    <div class="mb-3 w-100">
                        <input type="text" class="form-control" placeholder="Chuyên ngành hay đất nước bạn muốn đến?    ">
                    </div>
                    <button type="submit" class="btn btn-submit btn-primary">XÁC NHẬN</button>
                </form>
            </div>
            <div class="col-7">
                <div class="row mb-3">
                    <div class="col">
                        <div class="home-ending__video">
                            <iframe style="width: 100%; height: 430px; border-radius: 10px;" src="https://www.youtube.com/embed/04pDvv3rN0g" title="Lil Wuyn - Mở Mắt ft. Đen" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="home-ending__img">
                            <img src="https://images.pexels.com/photos/17563166/pexels-photo-17563166/free-photo-of-bong.jpeg" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="home-ending__img">
                            <img src="https://images.pexels.com/photos/16920072/pexels-photo-16920072/free-photo-of-dan-ba-d-ng-van-tr-t-quan-dai.jpeg" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="home-ending__img">
                            <img src="https://images.pexels.com/photos/16734808/pexels-photo-16734808/free-photo-of-g-phong-c-nh-dan-ong-ng-i.jpeg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('.home-enrollment__carousel.owl-carousel').owlCarousel({
            loop:true,
            margin:20,
            nav:true,
            dots: false,
            navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            responsive:{
                0:{
                    items:1
                },
                768:{
                    items:3
                },
            }
        })

        $('.home-evaluate__carousel.owl-carousel').owlCarousel({
            loop:true,
            margin:30,
            center: true,
            nav:true,
            dots: false,
            navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            responsive:{
                0:{
                    items:1
                },
                768:{
                    items:3
                },
            }
        })

        $('.home-counterparty__wrapper.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            center: true,
            nav: false,
            dots: false,
            responsive:{
                0:{
                    items:1
                },
                768:{
                    items:6
                },
            }
        })
    </script>
}